<ion-view view-title="Achievements">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">What I have Achieved........</strong>
        </div>
		<div class="list">
                <a class="item item-avatar">
                    <img src="img/techno.jpg">
                    <h2>Technovation Challenge 2014</h2>
                    <p>I have participated in Technovation Challenge<br> 2014 with my team. Our Eagle Eye idea got <br>shortlisted in Asian pacific level competition. <br>And our idea was announced in technovation<br> challenge official website.</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/wetech.jpg">
                    <h2>WeTech Pitch Event</h2>
                    <p>Our Idea got First prize in WeTech pitch<br> event held at Bangalore. </p>
                </a>
               	<a class="item item-avatar">
                    <img src="img/chennai.jpg">
                    <h2>Chennai Pitch Event</h2>
                    <p>Our team was selected in top 10 to present <br>our idea in WeTech(Women Enhancement) <br>Pitch Event.</p>
                </a>
				<a class="item item-avatar">
                    <img src="img/aarambam.jpg">
                    <h2>Aarambam Start-Up Contest</h2>
                    <p>Aarambam StartUp Contest happening at <br>madurai.Our idea was selected in top 5<br> teams for final pitch and we presented our<br> idea in front of ventures.</p>
                </a>
				<a class="item item-avatar">
                    <img src="img/ibm.jpg">
                    <h2>IBM Hackathon</h2>
                    <p>We are the Winner of this Hackathon <br> competition. Theme was to develop<br> applications or product to solve the social <br>problems in our country.This Hackathon <br>is initiated by Narendra Modi. This was<br> held at Bangalore.</p>
                </a>
                 <a class="item item-avatar">
                    <img src="img/bestout.jpg">
                    <h2>Best Outgoing Student</h2>
                    <p>I am the best outgoing student of our college.</p>
                </a>
            </div>
		<center><a href="#/app/magazine" class="button button-outline button-assertive">Magazines >></a></center>		
    </ion-content>
</ion-view>
