<ion-view view-title="Contact Details">
    <ion-content class="im-wrapper">
        <div class="list">
                <a class="item item-avatar">
                    <img src="img/add.jpg">
                    <h2>Address</h2>
                    <p>11/2B,Balarengapuram,&nbsp;I Cross Street,<br> MADURAI - 625009, India.</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/mobile.jpg">
                    <h2>Mobile Number</h2>
                    <p>+91 99 42 331432</p>
                </a>
               	<a class="item item-avatar">
                    <img src="img/mail.jpg">
                    <h2>Email-ID</h2>
                    <p>vaishnavi3051995@gmail.com</p>
                </a>
				<a class="item item-avatar" href="https://www.facebook.com/pages/Thiagarajar-college-of-Arts-Science/141317369272436" target="_system">
                    <img src="img/fb.jpg">
                    <h2>Facebook Link</h2>
                    <p>https://www.facebook.com/pages/<br>Thiagarajar-college-of-<br>Arts-Science/141317369272436</p>
                </a>
				<a class="item item-avatar" href="https://twitter.com/tcarts1949" target="_system">
                    <img src="img/twit.jpg">
                    <h2>Twitter Link</h2>
                    <p>https://twitter.com/tcarts1949</p>
                </a>
                 <a class="item item-avatar" href="https://www.linkedin.com/pub/vaishnavi-n-b/a7/29a/2ba" target="_system">
                    <img src="img/link.jpg">
                    <h2>Linkedin Link</h2>
                    <p>https://www.linkedin.com/pub/vaishnavi<br>-n-b/a7/29a/2ba</p>
                </a>
                 <a class="item item-avatar" href="https://github.com/vaishunb" target="_system">
                    <img src="img/git.jpg">
                    <h2>Github Link</h2>
                    <p>https://github.com/vaishunb</p>
                </a>
                <a class="item item-avatar" href="https://allaboutvaishnavi.appspot.com" target="_system">
                    <img src="img/weblink.jpg">
                    <h2>Webpage Link</h2>
                    <p>https://allaboutvaishnavi.appspot.com</p>
                </a>
            </div>
    </ion-content>
</ion-view>
