<ion-view view-title="Gallery">
    <ion-content  class="animate-fade-slide-in">
        <div class="list half">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>The Adventures Magazine</h2>
                    <img class="full-image" src="img/adven.JPG">
                </div>
            </div>
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>IBM Bluemix Hackathon</h2>
                    <img class="full-image" src="img/ibm.jpg">
                </div>
            </div>
        </div> 
        <div class="list half">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Chennai WeTech Pitch</h2>
                    <img class="full-image" src="img/chennai.jpg">
                </div>
            </div>
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bangalore WeTech Pitch</h2>
                    <img class="full-image" src="img/tc.jpg">
                </div>
            </div>
        </div> 
		<!--<div class="list half">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Adventures Magazine</h2>
                    <img class="full-image" src="img/adven.jpg">	
                </div>
            </div>
            <!--<div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bangalore WeTech Pitch Event</h2>
                    <img class="full-image" src="img/tc.jpg">
                </div>
            </div>
        </div> 
		<div class="list half">
            <!--<div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Adventures Magazine</h2>
                    <img class="full-image" src="img/adven.jpg">
                </div>
            </div>
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bangalore WeTech Pitch Event</h2>
                    <img class="full-image" src="img/tc.jpg">
                </div>
            </div>
        </div> -->
		
            
    </ion-content>
</ion-view>
