<ion-view view-title="Magazines">
    <ion-content style="background: url(img/bg1.jpg) center; background-size: cover;">
                 <ol><font color="#334466"><b><br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;Our Smart Farming Idea was published in "The Hindu" Tamil Newspaper.</li><br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;Then it was published in "The Indian Express".</li><br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;In "Adventures" Magazine our idea and the History about Metoomentor was published.</li> <br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;In "Aval Vigadan" Magazine Metoomentor article was published.</li><br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;In "Thina Thandhi" newspaper our Smart Farming idea was published.</li><br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;In "Pudhia Thalaimurai Kalvi" Magazine our Metoomentor achievements were published.</li><br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;"Eenadu" Telugu newspaper was published our Smart Farming and Eagle Eye Ideas and the Achievements of Metoomentor.</li></b>
               </font> </ol>  
    </ion-content>
</ion-view>
