<ion-view view-title="Projects">
    <ion-content>
         <ion-list class="animate-ripple">
                <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="ripple();">
                <img src="img/money.jpg">
                <h2>Money Collect</h2>
                <p>Collecting money for all events <br> using Mobile App.</p>
                </ion-item>
        </ion-list>

       		    <div class="list card energized-100-bg">
                <div class="item item-avatar">
                    <img src="img/tech.jpg">
                    <h2>Technology</h2>
                    <p>Technology to be used to<br> develop the Project.</p>
                </div>
                <div class="item item-body">
                    <p><b><font color="#225566">Frontend</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</b>Ionic,AngularJS<br><b><font color="#225566">Backend</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</b>Firebase</p>
                </div>
                </div>
		
 				<div class="list card assertive-100-bg">
                <div class="item item-avatar">
                    <img src="img/aboutapp.jpg">
                    <h2>About Project</h2>
                    <p>Overview of the Project.</p>
                </div>
                <div class="item item-body">
                    <p>Money Collect is an Android Application which will helps to collect money from students for some events conducted in School,Colleges and Others.It may be used for private events also which will rapidly happen.</p>
                  <p>
                </div>
                </div>
		
    </ion-content>
</ion-view>
