<ion-view view-title="About Me">
<ion-content>
		<div class="bar bar-subheader bar-stable static text-center">
				<strong class="title">What I am doing..........</strong>
			</div>   	
		<center>
		   <div class="list">
					<a class="item item-thumbnail-left">
						<img src="img/entre.jpg">
						<h2>Entrepreneur</h2>
						<p><b>"Don't be a Job Seeker, Be a Job Maker"</b><br> This quotes impressed me. <br>So that now I became an Entrepreneur. </p>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/app.jpg">
						<h2>Mobile App Developer</h2>
						<p>As Mobile App developer I love to create <br>many ideas which will solve the social <br>problem and give life to that ideas<br> using Mobile App Technology. </p>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/bestmentor.jpg">
						<h2>Mentoring</h2>
						<p>I believe the value of your knowledge<br> will go up when you start sharing <br>with others. 
													So that I share my knowledge <br>with others when I learned new things in my free time. </p>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/open.jpg">
						<h2>Open Source Developer</h2>
						<p>I am an active Open Source Contributor.<br> Open Source Technology is a powerful <br>tool to share our knowledge <br>and learn new things from that.</p>
					</a>
				</div>
			</center>
    </ion-content>
</ion-view>
