<ion-view view-title="Projects">
    <ion-content>
         <ion-list class="animate-ripple">
                <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="ripple();">
                <img src="img/smart.jpg">
                <h2>Online Admission Form</h2>
                <p>Admission process through Online.</p>
                </ion-item>
        </ion-list>

       		    <div class="list card energized-100-bg">
                <div class="item item-avatar">
                    <img src="img/tech.jpg">
                    <h2>Technology</h2>
                    <p>Technology to be used to <br>develop the Project.</p>
                </div>
                <div class="item item-body">
                    <p><b><h3>Web App:</h3><br><font color="#225566">Frontend</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</b>HTML5,CSS3,Javascript<br><b><font color="#225566">Backend</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</b>Google Spreadsheet,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Google Appscript<br>
                    <h3><b>Mobile App:</h3><br><font color="#225566">Frontend</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</b>Ionic,AngularJS<br><b><font color="#225566">Backend</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</b>Firebase<br> </p>
                </div>
                </div>
		
 				<div class="list card assertive-100-bg">
                <div class="item item-avatar">
                    <img src="img/aboutapp.jpg">
                    <h2>About Project</h2>
                    <p>Overview of the Project.</p>
                </div>
                <div class="item item-body">
                    <p>This project Online admission form is used for students to submit the admission form through online. So they don’t need to be in a long queue. Then the staff can handle the data base easily. This project is so easy for sorting and short listing.
					When the Staff enter into this Admin then only they can view the database and download the spreadsheet directly. This will be handled by Administrators only.
					<ol>	
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;Staff can view the students details who have applied for admission.</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;Staff can download the students details who have applied for admission.</li>
					</ol>	<br>
					When the Students want to apply their admission form for joining in our college, they have to enter into the Student then only they can view the form. There four forms are provided. They are, 
					<ol>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;UG Regular</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;UG Self-Finance</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;PG Regular</li> 
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;PG Self-Finance.</li>
					</ol>
				After submit their form Thank you page will be redirected.
					</p>
                  <p>
                </div>
                </div>

                <div class="list card balanced-100-bg">
                <div class="item item-avatar">
                    <img src="img/features.jpg">
                    <h2>Features</h2>
                    <p>Features of the Project.</p>
                </div>
                <div class="item item-body">
                   <h4>1.	Admin </h4>
															<p>The person who has an administrator power that person only can access this part. After clicking this then the Login page will be displayed. After getting successful Login, they can view and download the database.</p>
															<h4>2. Students</h4>
															<p>The students can access this only. They don’t have the power to access the Administrators part. Because that Admin  has the full security with the User Name and password. After clicking this Student Button they can view the available Graduates. There are,
															<ol>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;UG Regular</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;UG Self-Finance</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;PG Regular</li> 
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-shrink"></i>&nbsp;&nbsp;PG Self-Finance.</li>
					</ol><br>
					
The students can apply for their Graduation using this forms. After giving the full form details then they will allow to submit their admission form. Then the Thank you page will be redirected. 
				The Mail will be sent to their mail address.
													
															</p>
															<h4>3.Mail Send </h4>
															<p>After clicking the submit button, the form will be submitted automatically into the database. For the students confirmation, mail will be sent automatically with their admission number. This module has been done by using Google App Script.</p>
                </div>
                </div>
		
    </ion-content>
</ion-view>
