<ion-view view-title="Projects">
<ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">What Projects I have done..........</strong>
            </div>      
        <center>
            <div class="list">
                <a href="#/app/eagle" class="item item-avatar item-icon-right">
                    <img src="img/eagle.jpg">
                    <h2>Eagle Eye</h2>
                    <p>Detect the theif using Mobile App.</p>
                </a>
                <a href="#/app/smart" class="item item-avatar item-icon-right">
                    <img src="img/smart.jpg">
                    <h2>Smart Farming</h2>
                    <p>Automatically Feeding water to the <br> Farming lands.</p>              
                </a>
                <a href="#/app/online" class="item item-avatar item-icon-right">
                    <img src="img/online.jpg">
                    <h2>Online Admission Form</h2>
                    <p>Admission process through Online.</p>
                </a>
                <a href="#/app/money" class="item item-avatar item-icon-right">
                    <img src="img/money.jpg">
                    <h2>Money Collect</h2>
                    <p>Collecting money for all events <br> using Mobile App.</p>
                </a>
            </div>
            </center>
    </ion-content>
</ion-view>
