<ion-view view-title="Projects">
    <ion-content>
         <ion-list class="animate-ripple">
                <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="ripple();">
                <img src="img/smart.jpg">
                <h2>Smart Farming</h2>
                <p>Automatically Feeding water to <br>the Farming lands.</p>
                </ion-item>
        </ion-list>

       		    <div class="list card energized-100-bg">
                <div class="item item-avatar">
                    <img src="img/tech.jpg">
                    <h2>Technology</h2>
                    <p>Technology to be used to <br>develop the Project.</p>
                </div>
                <div class="item item-body">
                    <p><b><font color="#225566">Frontend</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</b>Ionic,AngularJS<br><b><font color="#225566">Backend</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</b>Firebase<br><b><font color="#225566">Technology</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</b>IoT </p>
                </div>
                </div>
		
 				<div class="list card assertive-100-bg">
                <div class="item item-avatar">
                    <img src="img/aboutapp.jpg">
                    <h2>About Project</h2>
                    <p>Overview of the Project.</p>
                </div>
                <div class="item item-body">
                    <p>Smart Farming is Cloud-Based automated system to feed water in farming land using IoT.<p><b><font color="#225566">Website Link:</b></font><a href="https://firstapphost.appspot.com" target="_system">https://firstapphost.appspot.com</a></p>
                  <p>
                </div>
                </div>

                <div class="list card balanced-100-bg">
                <div class="item item-avatar">
                    <img src="img/features.jpg">
                    <h2>Features</h2>
                    <p>Features of the Project.</p>
                </div>
                <div class="item item-body">
                    <p><h4>Physical effort and inconvenience</h4>
															<p>Farmers have to travel to fields often at odd hours just to switch ON/OFF the motor due to erratic power supply.

They often face the risk of wild animals, snakes, hazardous terrain and electric shocks while traveling to the fields in the dark and on a rainy day.

Where a farmer has more than one motor pump set; he has to run around to make sure that all the motor pumps are working when the power is available.</p>
															<h4>Loss/ Frequent damage of irrigation equipment</h4>
															<p>Motors and starters often get damaged due to voltage fluctuations, faults in three phase connectivity, and running of motor while water is not getting pumped.

A delay in knowing about problem, and getting motors repaired, often results in crops not getting irrigated effectively and hence a loss in crop yield.

Motors, starters and cables located on fields are easy targets for thieves.</p>
															<h4>Wastage of water and electricity</h4>
															<p>At times, motor pumps are left running for longer than what is necessary because of the effort involved in switching OFF the motor. This leads to wastage of both electricity and water

Excessive watering results in soil erosion, wastage in fertilizers used and hence a loss in productivity. Excess fertilizer run-off in to larger water bodies (lakes and rivers), further impacts environment

Indiscriminate use of resources is also resulting in exploitation of ground water beyond recharging capacity. Falling water tables further result in increased suction head, and demand greater energy needs.</p></p>
                  <p>
                </div>
                </div>
		
    </ion-content>
</ion-view>
