<ion-view view-title="TimeLine">
    <ion-content>
	<div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Each Moments of my Life.......</strong>
    </div>
     <div class="list">
					<a class="item item-thumbnail-left">
						<img src="img/baby.png">
						<h2>I was born</h2>
						<p>I was born in Madurai.<b>30th May 1995.</b><br>Globally extend worldwide data without<br> quality. Efficiently disseminate premium <br>markets for strategic initiatives. Completely <br>orchestrate effective e-business and <br>unique partnerships. </p>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/kg.png">
						<h2>Started My Schooling</h2>
						<p><b>June 1999 - May 2001</b><br> This is the best part of my life.I learnt<br> many things in this period. I started 
							<br>learning writing alphabet and numbers. <br>This is really interesting part which<br> I never enjoyed after that period in<br> my life.</p>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/middle.png">
						<h2>Middle School</h2>
						<p><b>RC Middle School<br>June 2001 - May 2008</b><br>During the schoolings I thought getting <br>good mark is the big thing and that is<br> important. Normally, this is the basic<br> thought of all people. But now I realised <br>that it is not a big deal. Gaining Knowledge<br> is important. </p>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/highsch.png">
						<h2>Completed SSLC</h2>
						<p><b>St. Joseph's Girls HSS</b><br><b>June 2008 - May 2010</b><br>During the schoolings I thought getting <br>good mark is the big thing and that is<br> important. Normally, this is the basic<br> thought of all people. But now I realised <br>that it is not a big deal. Gaining Knowledge<br> is important. </p>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/higher.png">
						<h2>Completed HSS</h2>
						<p><b>St. Joseph's Girls HSS</b><br><b>June 2010 - May 2012</b><br>During the schoolings I thought getting <br>good mark is the big thing and that is<br> important. Normally, this is the basic<br> thought of all people. But now I realised <br>that it is not a big deal. Gaining Knowledge<br> is important. </p>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/clg.png">
						<h2>Graduated B.SC CS</h2>
						<p><b>Kamaraj University</b><br><b>June 2012 - May 2015</b><br>I Completed my Bachelors degree of <br> Computer Science in Thiagarajar College.<br> During the joining period of College I want<br> to go Job in MNC's.When I come out of <br>the College I bacame an Entrepreneur.</p>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/bestvol.png">
						<h2>Metoomentor Volunteer</h2>
						<p><b>December 2014 - present</b><br>Metoomentor platform started with the<br> objective of giving technological opportunity <br>to everyone, mainly focusing on young <br>students in tier 2 and tier 3 cities in <br>India.I am a part of this platform.</p>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/entreme.png">
						<h2>Entrepreneur</h2>
						<p><b>ZealXpo Inc</b><br><b>May 2015 - present</b><br>My dream comes true now. I am a <br>co-founder of ZealXpo Inc.I I develop <br>many protection app for colleges,MNC's<br> and for normal users. </p>
					</a>
		</div>   
    </ion-content>
</ion-view>
